body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    row-gap: 50px;
  }
  
  .comment-card {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px; /* Increase space between comment cards */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  .comment-container {
    grid-area: details;
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  .comment-card:last-child {
    border-bottom: none;
  }
  .user-name{
    font-size: 16px;
    font-weight: 500;
    color: #334253;
  }
  .comment-content {
    grid-area: content;
    font-size: 16px;
    line-height: 24px;
    color: #67727E;
  }
  
  .comment-info {
    font-size: 14px;
    color: #666;
  }
  
  .comment-actions {
    margin-top: 10px;
    justify-self: flex-end;
  }
  
  .comment-actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    grid-area: button;
  }
  
  .comment-actions button.edit {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #5357B6;
  }
  
  .comment-actions button.delete {
    background-color: #ffffff;
    color: rgb(255, 0, 0);

  }
  
  .add-comment-form {
    width: 700px;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    justify-content: stretch;
    column-gap: 16px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-comment-form textarea {
  
    border: 1px solid #E9EBF0;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    color: #334253;
    flex: ;

  }
  .add-comment-form textarea::placeholder {
    color: #67727E;
}
  .add-comment-form textarea:focus {
    border: 1px solid #5357B6;
    outline: none;
}
  
  .add-comment-form button {
    width: 104px;
    height: 48px;
    border-radius: 8px;
    padding: 12px;
    color: white;
    background-color: #5357B6;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    outline: none;
    text-transform: uppercase;
  }
  .add-comment-form button:hover {
    background-color: #C5C6EF;
}